#!/usr/bin/env python
# encoding=UTF-8

"""Python unit test for HTTP server."""

import os
import sys
import inspect
test_dir = os.path.dirname(inspect.currentframe().f_code.co_filename)
src_dir = os.path.join(test_dir, '../src')
sys.path.insert(0, src_dir)
import <%= name %>
import unittest
import libhttp

class Test(unittest.TestCase):

    PORT = 6854

    def setUp(self):
        <%= name %>.start_for_test(self.PORT)

    def test_serve(self):
        actual = libhttp.request("http://localhost:%s" % self.PORT)
        expected_body = "<html><body><p>Hello World!</p></body></html>"
        self.assertEquals(200, actual.status)
        self.assertEquals(expected_body, actual.body.strip())

# Run unit tests when started on command line
if __name__ == '__main__':
    unittest.main()

